prompt_*_setup
!prompt_skittleys*_setup
!prompt_agnoster_setup
!prompt_minimal_setup
!prompt_nicoulaj_setup
!prompt_paradox_setup
!prompt_peepcode_setup
!prompt_powerline_setup
!prompt_sorin_setup
!prompt_steeef_setup

